@using ThiChungChiModels
@model ThiChungChiModels.TaiKhoanChungChi
@{
    ViewData["Title"] = "View chứng chỉ";
    Layout = "~/Views/Shared/_LayoutChungChi.cshtml";
}

<style>
    .center_label {
        text-align: center;
    }
</style>

@if (Model != null)
{
    <div class="row">
        <hr />
        <div class="col-md-12">
            <dl class="row">
                <dt class="col-sm-4">
                    Cuộc thi
                </dt>
                <dd class="col-sm-6">
                    @ViewBag.ten_cuoc_thi
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.id_tai_khoan)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.id_tai_khoan) (@ViewBag.fullname)
                </dd>
                <dt class="col-sm-4">
                    Ngày thi
                </dt>
                <dd class="col-sm-8">
                    @XMedia.XUtil.EpochToTimeStringShortFomart(Model.ngay_cap)
                </dd>
                <dt class="col-sm-4">
                    Điểm thi
                </dt>
                <dd class="col-sm-8">
                    @ViewBag.diem_thi
                </dd>
            </dl>
        </div>

        <div class="col-md-12">
                <div class="form-group center_label">
                    <label asp-for="noi_dung" class="control-label text-center"><b>Chứng chỉ Online</b></label>
                    <div id="noi_dung" name="noi_dung" style="background:#ccc;margin:10px auto;padding:10px;overflow:hidden">@Html.Raw(Model.noi_dung)</div>
                </div>
        </div>
    </div>
}

