@using ThiChungChiModels
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Thi chứng chỉ</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css" />
    <script src="~/lib/jquery/dist/notify.min.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/bootstrap-datepicker.vi.js"></script>
    <script asp-append-version="true" src="~/lib/ckeditor/ckeditor.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        @if (User.IsInRole(((int)(Role.CREATE)).ToString()))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="CuocThi" asp-action="Index">Quản lý cuộc thi</a>
                            </li>
                        }
                        @if (User.IsInRole(((int)(Role.ADMIN)).ToString()))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="CuocThi" asp-action="Index">Cuộc thi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="DanhSachThi" asp-action="Index">Danh sách thi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="DeThi" asp-action="Index">Đề thi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="KetQuaThi" asp-action="Index">Kết quả thi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ThuocTinh" asp-action="Index">Thuộc Tính</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ChungChi" asp-action="Index">Chứng chỉ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="TaiKhoan" asp-action="Index">Tài khoản</a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="DanhSachThi" asp-action="MyExam">Cuộc thi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="KetQuaThi" asp-action="Index">Kết quả thi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Typing" asp-action="Exam">Gõ phím</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="TaiKhoan" asp-action="Index">Tài khoản</a>
                            </li>
                        }
                        <li class="nav-item">
                            <span class="nav-link text-dark">Xin chào <b>@User.Identity.Name !!!</b></span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TaiKhoan" asp-action="Logout">Thoát</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["msg"] != null)
            {
                <div id="alert-box" class="alert @TempData["msg_type"] hide">
                    @TempData["msg"]
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Thi chứng chỉ - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </footer>

    <script asp-append-version="true" src="~/js/site.js"></script>
    @*<script asp-append-version="true" src="~/js/typing.js"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>