@model IEnumerable<ThiChungChi.Models.DanhSachThiMap>

@{
    ViewData["Title"] = "MyExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var totalItem = ViewBag.Total;
    var d = ViewBag.ngay_thi_tu > 0 ? ViewBag.ngay_thi_tu : 0;
    var dt = ViewBag.ngay_thi_den > 0 ? ViewBag.ngay_thi_den : 0;
}

<h4>Danh sách cuộc thi của: <u>@ViewBag.ten</u></h4>

<form asp-action="MyExam">
    <div class="row">
        <div class="col-sm-4">
          
        </div>
        <div class="col-sm-3">
            @if (ViewBag.cuoc_thi != null)
            {
                <div class="form-group">
                    @Html.DropDownList("id_cuoc_thi",
                        (List<SelectListItem>)ViewBag.cuoc_thi, "--- Chọn cuộc thi ---", htmlAttributes: new { @class = "form-control" })
                </div>
            }
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <input placeholder="Ngày bắt đầu" name="ngay_tu" autocomplete="off" value="@XMedia.XUtil.EpochToTimeString(d, "dd/MM/yyyy")" class="form-control datepicker" />
                <input placeholder="Ngày bắt đầu" id="ngay_thi_tu" name="ngay_thi_tu" value="@d" class="form-control d-none" />
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <input placeholder="Ngày kết thúc" name="ngay_den" autocomplete="off" value="@XMedia.XUtil.EpochToTimeString(dt, "dd/MM/yyyy")" class="form-control datepicker" />
                <input placeholder="Ngày kết thúc" id="ngay_thi_den" name="ngay_thi_den" value="@dt" class="form-control d-none" />
            </div>
        </div>

        <div class="col-sm-1 text-right">
            <button id="btn_search" class="btn btn-primary">Tìm</button>
        </div>

        <div class="col-sm-12">
            @Html.Raw(ViewBag.thuoc_tinh_search)
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-6">
        <p>Tổng số: @totalItem</p>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                @Html.DisplayNameFor(model => model.ten_cuoc_thi)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.fullname)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.thuoc_tinh)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ngay_bat_dau) / @Html.DisplayNameFor(model => model.ngay_ket_thuc)
            </th>
            <th>
                Trạng thái
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            int count = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @count
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ten_cuoc_thi)
                    </td>

                    @*<td>
                            @Html.DisplayFor(modelItem => item.fullname)
                        </td>*@
                    @*<td>
                            @if (item.thuoc_tinh != null)
                            {
                                foreach (var lst in item.thuoc_tinh)
                                {
                                    <p>-- @lst.Value</p>
                                }
                            }
                        </td>*@

                    <td>
                        @XMedia.XUtil.EpochToTimeString(item.ngay_bat_dau, "dd/MM/yyyy") - @XMedia.XUtil.EpochToTimeString(item.ngay_ket_thuc, "dd/MM/yyyy")
                    </td>

                    <td>

                        @if (item.tinh_trang_thi)
                        {
                            <a href="@Url.Action("Index", "KetQuaThi", new {id = item.id_cuoc_thi})" class="text-success font-weight-bold"><u>Đã thi</u></a>
                        }
                        else
                        {
                            <span class="text-danger font-weight-bold"><kbd class="kbd2">Chưa thi</kbd></span>
                        }
                    </td>
                    <td>
                        @if (item.start)
                        {
                            <button class="btn btn-warning btn-width" data-toggle="modal" data-target="#show_start_item-@item.id" data-whatever="chưa bắt đầu">Chưa bắt đầu</button>
                            <div id="show_start_item-@item.id" class="modal show_expired start">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        Cuộc thi <u> @item.ten_cuoc_thi </u> chưa bắt đầu
                                    </div>
                                </div>
                            </div>
                        }
                        else if (!item.is_expired)
                        {
                            if (item.luot_thi)
                            {
                                <button class="btn btn-dark btn-width">Hết lượt thi</button>
                            }
                            else
                            {
                                if (string.IsNullOrEmpty(item.pass_thi))
                                {
                                    <form asp-action="Exam" asp-controller="Typing" asp-route-cuoc_thi="@item.id_cuoc_thi">
                                        <button class="btn btn-success btn-width">Thi</button>
                                    </form>
                                }
                                else
                                {
                                    <button class="btn btn-success btn-width" data-toggle="modal" id="#mat_khau_@(item.id)" onclick="showPassword(this.id)" data-target="#mat_khau_@(item.id)">Thi</button>
                                    <div class="modal fade" id="mat_khau_@(item.id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <form asp-action="Exam" asp-controller="Typing" asp-route-cuoc_thi="@item.id_cuoc_thi">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="title_mat_khau">Nhập mật khẩu cuộc thi</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body" id="cuoc_thi">
                                                        <input type="text" class="form-control" id="pass_thi" name="pass_thi" value="" />
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                        <button type="submit" class="btn btn-primary">Bắt đầu</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <button class="btn btn-danger btn-width" data-toggle="modal" data-target="#show_expired_item-@item.id" data-whatever="đã kết thúc">Đã kết thúc</button>
                            <div id="show_expired_item-@item.id" class="modal show_expired">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        Cuộc thi <u> @item.ten_cuoc_thi </u> đã kết thúc
                                    </div>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
                count++;
            }

        }
    </tbody>
</table>
@{
    try
    {
        var term = ViewBag.Term as string;
        var id_cuoc_thi = ViewBag.id_cuoc_thi as string;
        // XMedia.XUtil.EpochToTimeString(d, "dd-MM-yyyy"); // XMedia.XUtil.EpochToTimeString(dt, "dd-MM-yyyy");
        var ngay_thi_tu = d;
        var ngay_thi_den = dt;
        Html.RenderPartial("PagingWithDate", new { ngay_thi_tu, ngay_thi_den, term, id_cuoc_thi });
    }
    catch (Exception e)
    {
        Console.WriteLine(e);
    }

}

@section scripts {
    <script>

        $('[name="ngay_tu"]').datepicker({
            format: 'dd/mm/yyyy'
        }).on('show',
            function () {
                try {
                    $('[name="ngay_tu"]').datepicker('setEndDate', $('[name="ngay_den"]').val());
                } catch (e) {

                }
            }).on('hide',
                function (e) {
                    if (e.dates.length > 0) {
                        $("#ngay_thi_tu").val(e.date.getTime() / 1000);
                    } else {
                        $("#ngay_thi_tu").val(0);
                    }
                });
        $('[name="ngay_den"]').datepicker({
            format: 'dd/mm/yyyy'
        }).on('show',
            function () {
                try {
                    $('[name="ngay_den"]').datepicker('setStartDate', $('[name="ngay_tu"]').val());
                } catch (e) {

                }

            }).on('hide',
                function (e) {
                    if (e.dates.length > 0) {
                        $("#ngay_thi_den").val(e.date.getTime() / 1000);
                    } else {
                        $("#ngay_thi_den").val(0);
                    }
                });

        function showPassword(id) {
            $("input[name='cuoc_thi']").val("");
            //$("input[name='tai_khoan']").val("");
            $("input[name='pass_thi']").val("");

        }
    </script>
}